# Ignore everything by default
/*

# Except these folders
!fish/
!hypr/
!hyprpaper/
!kitty/
!nvim/
!wofi/
!thunar/
!systemd/
!waybar/
!yay/

# Make sure we don't ignore the contents of these folders
!fish/**
!hypr/**
!hyprpaper/**
!kitty/**
!nvim/**
!wofi/**
!thunar/**
!systemd/**
!waybar/**
!yay/**

# Keep the ignore file itself
!.gitignore
